@charset "utf-8";

$base-font-size: 12px;

// text color
$color-default: #333;

$color-fine: #666;

$color-link: #09598d;

$color-attention: #ff9800;

$color-new: #e91e63;

$color-white: #fff;

// font size (rem)
$size-big: 1.250rem; //15px

$size-major: 1.167rem; //14px

$size-default: 1rem; //12px

$size-minor: 0.917rem; //11px

$size-small: 0.750rem; //9px


// border color
$border-color-default: #e5e5e5;