@charset "utf-8";

.l-media {
	text-align: left;
	overflow: hidden;

	&__body {
		width: 10000px;
		display: table-cell;
		vertical-align: top;

		&--middle {
			vertical-align: middle;
		}
	}

	&__left {
		display: table-cell;
		padding-right: 12px;
		vertical-align: top;

		&--middle {
			vertical-align: middle;
		}
	}

	&__right {
		display: table-cell;
		padding-left: 12px;
		vertical-align: top;

		&--middle {
			vertical-align: middle;
		}
	}

}