---
layout: 'todo.hbs'
---

<div id="content" style="width: 600px; margin: 20px auto">

	<div class="inputBar">
		<div class="inputBar__body"><input type="text" value="" class="inputBar__input"></div>
		<div class="inputBar__right"><button>Add</button></div>
	</div>

	<ul class="addList">
		<li class="addList__item">
			<div class="addList__layout">
				<div><p>ほげほげ</p></div>
				<div><button>Delete</button></div>
			</div>
		</li>
		<li class="addList__item">
			<div class="addList__layout">
				<div><p>ほげほげ</p></div>
				<div><button>Delete</button></div>
			</div>
		</li>
		<li class="addList__item">
			<div class="addList__layout">
				<div><p>ほげほげ</p></div>
				<div><button>Delete</button></div>
			</div>
		</li>
	</ul>

</div>
