@charset "utf-8";

.inputBar {
	display: flex;
	margin-bottom: 20px;
	&__input {
		width: 100%;
		padding: 8px;
		font-size: 14px;
		box-sizing: border-box;
	}
	&__body {
		flex: 1;
	}
	&__right {
		margin-left: 8px;
	}
	button {
		width: 80px;
		height: 37px;
		background-color: #006ba7;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		border: none;
	}
}
